*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kate-swp
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pgf-plot.*
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*~
.DS_Store
MAA1/*.pdf
MAA1/appendices/vastaukset.tex
MAA1/revision.tex
MAA2/*.pdf
MAA2/appendices/vastaukset.tex
MAA2/appendices/monsterit_vastaukset.tex
MAA2/revision.tex
MAA4/*.pdf
MAA4/appendices/vastaukset.tex
MAA4/revision.tex
MAA11/*.pdf
MAA11/appendices/vastaukset.tex
MAA11/revision.tex
