*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.kate-swp
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pgf-plot.*
*.ps
*.snm
*.synctex.gz
*.tdo
*.toc
*.vrb
*~
.DS_Store
MAA1/ans1.tex
MAA1/devel.pdf
MAA1/devel.tdo
MAA1/devel_light.pdf
MAA1/devel_light.tdo
MAA1/MAA1.pdf
MAA2/ans1.tex
MAA2/ans2.tex
MAA2/MAA2.pdf
MAA2/MAA2-pics.pdf
MAA2/revision.tex
